#game {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .letter-box {
    vertical-align:top;
    font-size: 40px;
    color: white;
    height: 50px;
    width: 50px;
    position: relative;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    /* background: var(bgcolor); */
    text-align: center;
    display: inline-block;
    margin: 3px;
    text-transform: uppercase;
  }

  .play-again {
    text-align: center;
    margin: 25px;
  }
  
  /* .filled-box {
    border: 2px solid black;
  }
   */
  .letter-row {
    display: flex;
  }

  #correct {
    background-color: #528d4e;
  }
  
  #almost {
    background-color: #b49f39;
  }
  
  #error {
    background-color: #3a393c;
  }